/* styles/Header.module.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* 使内容靠顶部对齐 */
  background: transparent; /* 确保背景是透明的 */
  height: auto; /* 修改为自动高度，不引入背景图片 */
  padding: 10px 20px;
  position: relative; /* 设置为相对定位，以便使用 z-index */
  z-index: 10; /* 将 Header 置于更高层级，确保不被覆盖 */
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 5px; /* 减少左侧图片和文字之间的间距 */
}

.logoImage {
  object-fit: contain;  /* 确保图片保持比例 */
  width: 100%;          /* 容器的 100% */
  height: auto;         /* 高度自动调整 */
}

.logo {
  font-size: 1.0em; /* 缩小字体大小，使其与 Logo 图片更加契合 */
  font-weight: bold;
  color: #ffffff;
  margin: 20px 0 0 0; /* 使得文字更接近图片并减少高度冲突 */
}

.rightSection {
  display: flex;
  align-items: flex-start; /* 使导航与顶部对齐 */
}

.navList {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 20px; /* 确保与左侧元素对齐 */
}

.navItem a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.navLink {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s, border-bottom 0.3s;
}

.navLink:hover {
  color: #3b67e2; /* 亮绿色 */
  border-bottom: 2px solid #1d9408; /* 添加下划线效果 */
}

  

