/* styles/Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 使内容靠顶部对齐 */
    background: transparent; /* 确保背景是透明的 */
    height: 100vh; /* 修改高度为视窗高度，确保背景图片覆盖整个视窗 */
    padding: 10px 20px;
    background-image: url('../public/747374890227005468.jpg'); /* 添加背景图片 */
    background-size: cover; /* 确保背景图片覆盖整个区域 */
    background-position: center; /* 背景图片居中显示 */
    background-attachment: fixed; /* 使背景图片保持固定 */
  }

  .leftSection {
    display: flex;
    align-items: center;
    gap: 5px; /* 减少左侧图片和文字之间的间距 */
  }

  .logoImage {
    width: 200px;
    height: 60px;
    margin-right: 5px; /* 缩小图片和文字之间的间距 */
  }

  .logo {
    font-size: 1.2em; /* 缩小字体大小，使其与 Logo 图片更加契合 */
    font-weight: bold;
    color: #ffffff;
    margin: 20px 0 0 0; /* 使得文字更接近图片并减少高度冲突 */
  }

  .rightSection {
    display: flex;
    align-items: flex-start; /* 使导航与顶部对齐 */
  }

  .navList {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 20px; /* 确保与左侧元素对齐 */
  }

  .navItem a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }

  .navLink {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s, border-bottom 0.3s;
  }
  
  .navLink:hover {
    color: #3b67e2; /* 亮绿色 */
    border-bottom: 2px solid #39ff14; /* 添加下划线效果 */
  }
  
